// scss/index.scss

@use '../common/scss/variables' as *; // ←variablesを最初に読み込み、名前空間なしで使えるようにする
@use '../common/scss/mixin' as *;

// 2. リセット
@use '../common/scss/reset';
// 3. 共通部分
@use '../common/scss/base';
@use '../common/scss/header';
@use '../common/scss/footer';

// 5. コンポーネント/パーツ
@use 'parts';

//================================================================//
//ここから
//================================================================//

//================================================================//
//ファーストビュー

.hero {
    position: relative;
    height: 100vh;

    &-title {
        //シエンタでやってみない？
        width: 100%;
        height: 100vh;
        @include flex-center; //中央揃え
        position: absolute;
        z-index: 2;
        @include tb {
            padding-bottom: 10rem;
        }
        @include sp {
            padding-bottom: 5rem;
        }

        &__sub {
            position: absolute;
            @include tb-min {
                margin-bottom: 13rem;
                margin-right: 25rem;
            }
            @include sp {
                margin-bottom: 10rem;
                margin-right: 15rem;
            }
        }
    }

    &-img {
        //ヒーローエリアの写真
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        &__left {
            //ヒーローエリアの写真 左
            &__pc4 {
                display: none;
                @include pc1140 {
                    display: block;
                }
                @include tb {
                    display: none;
                }
            }
            &__pc3 {
                display: none;
                @include pc1440 {
                    display: block;
                }
                @include pc1140 {
                    display: none;
                }
            }
            &__pc2 {
                display: none;
                @include pc1840 {
                    display: block;
                }
                @include pc1440 {
                    display: none;
                }
            }
            &__pc {
                @include pc1840 {
                    display: none;
                }
            }
            &__tb {
                display: none;
                @include tb {
                    display: block;
                }
                @include sp {
                    display: none;
                }
            }
        }
        &__right {
            //ヒーローエリアの写真 右
            &__pc {
                @include pc1440 {
                    display: none;
                }
            }
            &__pc3 {
                display: none;
                @include pc1440 {
                    display: block;
                }
                @include pc1140 {
                    display: none;
                }
            }
            &__pc4 {
                display: none;
                @include pc1140 {
                    display: block;
                }
                @include tb {
                    display: none;
                }
            }
            &__tb {
                display: none;
                @include tb {
                    display: block;
                }
                @include sp {
                    display: none;
                }
            }
        }
        &__sp {
            display: none;
            @include sp {
                display: block;
            }
        }
    }

    &-car {
        //ヒーローエリアの車
        position: absolute;
        width: 100%;
        height: 100vh;
        @include flex-center; //中央揃え
        z-index: 5;
        margin-top: 16rem;
        @include tb {
            margin-top: 18rem;
        }
        @include sp {
            img {
                width: 21.5rem;
            }

            margin-top: 13rem;
        }
    }
}

//ファーストビュー///
//================================================================//

//================================================================//
// アバウト
.about {
    @include pc {
        //pcのコンテンツ幅
        max-width: 62.5rem;
        width: 100%;
        margin: 0 auto;
    }
    @include tb {
        //tbのコンテンツ幅
        max-width: 37.25rem;
        width: 100%;
        margin: 0 auto;
    }

    @include sp {
        //spのコンテンツ幅
        max-width: 21.6rem;
        width: 100%;
        margin: 0 auto;
    }
    display: flex;
    justify-content: center;
    &-text {
        //タイトルと本文
        flex-direction: column;
        &__title {
            //タイトル
            display: flex;
            justify-content: center;
            @include tb {
                width: 32rem;
            }
            @include sp {
                width: 100%;
            }
            &__sp {
                display: none;
                @include sp {
                    display: block;
                }
            }
            &__pc {
                display: block;
                @include sp {
                    display: none;
                }
            }
        }
        &__main {
            //本文
            p {
                text-align: center;
                @include pc {
                    padding-top: 3.5rem;
                    line-height: 2.75rem;
                    font-size: 1.25rem;
                    letter-spacing: 0.3rem;
                }
                @include tb {
                    padding-top: 1.25rem;
                    line-height: 2.2rem;
                    letter-spacing: 0.25rem;
                }
                @include sp {
                    padding-top: 3rem;
                    line-height: 1.875rem;
                    letter-spacing: 0.0375rem;
                }
            }
        }
    }
}
// アバウト///
//================================================================//

//================================================================//
// 積載性・収納
.storage {
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {

        @include pc {
            height: 32rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        @include tb{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        padding-top: 2.5rem;
        padding-bottom: 4rem;

        @include pc {
            //pcのコンテンツ幅
            max-width: 60rem;
            width: 100%;
            margin: 0 auto;
        }
        @include tb {
            //tbのコンテンツ幅
            max-width: 38.92rem;
            width: 100%;
            margin: 0 auto;
        }
        @include sp {
            //spのコンテンツ幅
            min-width: 100%;
            width: 100%;
            margin: 0 auto;
        }
        &-left {
            &__title {
                margin-right: 3rem;
            }
            &__sub {
                position: absolute;
                z-index: 1;
                margin-left: -5rem;
            }
            &__main {
                margin-top: 2.5rem;
            }
            &__button {
                @include button-bk;
            }
        }
    }
}

.storage-back {
    //背景
    position: absolute;
    z-index: -1;

    &__pc {
        display: none;
        @include pc {
            display: block;
        }
    }

    &__tb {
        display: none;
        @include tb {
            display: block;
        }
        @include sp {
            display: none;
        }
    }

    &__sp {
        display: none;
        @include sp {
            display: block;
        }
    }
}
// 積載性・収納///
//================================================================//
