@charset "UTF-8";
/* ===============================================
    Modern CSS Reset
   =============================================== */
/* 1. すべての要素でbox-sizingをborder-boxにする（パディングを含めた幅計算にする） */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. デフォルトのマージンを削除 */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 3. リストのデフォルトスタイルを削除（必要に応じてコメントアウト） */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 4. bodyの基本設定 */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 5. 画像をレスポンシブ対応しやすくする */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 6. input, button, textarea, selectのフォントを親要素から継承する */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. コンテンツがアンカーリンクで隠れないようにスクロール位置を調整 */
html {
  scroll-behavior: smooth;
}

html {
  background-image: url(/common/img/background-grass.png);
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  p {
    color: #23211C;
    font-family: YakuHanJP, "Zen Kaku Gothic Antique", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 2.05rem;
    letter-spacing: 0.16875rem;
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 1023px) {
  p {
    color: #23211C;
    font-family: YakuHanJP, "Zen Kaku Gothic Antique", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.15rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  p {
    color: #23211C;
    font-family: YakuHanJP, "Zen Kaku Gothic Antique", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.35rem;
    letter-spacing: 0.1125rem;
    font-size: 0.75rem;
  }
}

.white-road {
  position: absolute;
  z-index: -2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .white-road__pc {
    padding-top: 54rem;
    padding-right: 7rem;
  }
}
@media screen and (max-width: 1023px) {
  .white-road__pc {
    display: block;
    display: none;
  }
}
.white-road__tb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .white-road__tb {
    padding-top: 58rem;
    padding-right: 0.7rem;
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .white-road__tb {
    display: none;
  }
}
.white-road__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .white-road__sp {
    padding-top: 42rem;
    display: block;
  }
}

.gray-road {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gray-road img {
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}
@media screen and (min-width: 599px) {
  .gray-road__1 {
    margin-top: -5rem;
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .gray-road__1 {
    width: 2.25rem;
    margin-top: -7rem;
    padding-bottom: 2.5rem;
  }
}
.gray-road__2 {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
@media screen and (min-width: 1024px) {
  .gray-road__2 {
    padding-bottom: 10rem;
  }
}
@media screen and (max-width: 1023px) {
  .gray-road__2 {
    padding-bottom: 8rem;
    width: 4rem;
  }
}
@media screen and (max-width: 599px) {
  .gray-road__2 {
    width: 2.25rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .gray-road__3 {
    padding-top: 10rem;
    padding-right: 35rem;
  }
}
@media screen and (max-width: 1023px) {
  .gray-road__3 {
    padding-right: 8rem;
    padding-top: 8rem;
  }
}
@media screen and (max-width: 599px) {
  .gray-road__3 {
    width: 5.8rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .gray-road__4__pc {
    margin-top: 10rem;
    padding-right: 20rem;
  }
}
@media screen and (max-width: 1023px) {
  .gray-road__4__pc {
    display: none;
  }
}
.gray-road__4__tb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .gray-road__4__tb {
    display: block;
    padding-right: -2rem;
    padding-top: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .gray-road__4__tb {
    width: 4rem;
  }
}

.under-section__img {
  position: absolute;
  z-index: -1;
}
.under-section__img img {
  width: 100vw;
}
.under-section__img__pc {
  display: block;
}
@media screen and (max-width: 1023px) {
  .under-section__img__pc {
    display: none;
  }
}
.under-section__img__tb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .under-section__img__tb {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .under-section__img__tb {
    display: none;
  }
}
.under-section__img__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .under-section__img__sp {
    display: block;
  }
}

.back-blue {
  z-index: -1;
  background-color: #DE8436;
  position: absolute;
  padding-top: 10rem;
}
.back-blue__pc {
  display: block;
}
@media screen and (max-width: 1023px) {
  .back-blue__pc {
    display: none;
  }
}
.back-blue__tb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .back-blue__tb {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .back-blue__tb {
    display: none;
  }
}
.back-blue__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .back-blue__sp {
    display: block;
  }
}
.back-blue__pc {
  display: block;
}
@media screen and (max-width: 1023px) {
  .back-blue__pc {
    display: none;
  }
}
.back-blue img {
  width: 100vw;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  position: fixed;
}

.logo {
  background-color: #FDFFFB;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: auto;
}
@media screen and (min-width: 599px) {
  .logo {
    width: 10.25rem;
    height: 8.25rem;
  }
  .logo img {
    width: 6rem;
  }
}
@media screen and (max-width: 599px) {
  .logo {
    width: 7.4rem;
    height: 5.7rem;
  }
  .logo img {
    width: 4.8rem;
  }
}

.hero {
  position: relative;
  height: 100vh;
}
.hero-title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 1023px) {
  .hero-title {
    padding-bottom: 10rem;
  }
}
@media screen and (max-width: 599px) {
  .hero-title {
    padding-bottom: 5rem;
  }
}
.hero-title__sub {
  position: absolute;
}
@media screen and (min-width: 599px) {
  .hero-title__sub {
    margin-bottom: 13rem;
    margin-right: 25rem;
  }
}
@media screen and (max-width: 599px) {
  .hero-title__sub {
    margin-bottom: 10rem;
    margin-right: 15rem;
  }
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.hero-img__left__pc4 {
  display: none;
}
@media screen and (max-width: 1140px) {
  .hero-img__left__pc4 {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .hero-img__left__pc4 {
    display: none;
  }
}
.hero-img__left__pc3 {
  display: none;
}
@media screen and (max-width: 1440px) {
  .hero-img__left__pc3 {
    display: block;
  }
}
@media screen and (max-width: 1140px) {
  .hero-img__left__pc3 {
    display: none;
  }
}
.hero-img__left__pc2 {
  display: none;
}
@media screen and (max-width: 1840px) {
  .hero-img__left__pc2 {
    display: block;
  }
}
@media screen and (max-width: 1440px) {
  .hero-img__left__pc2 {
    display: none;
  }
}
@media screen and (max-width: 1840px) {
  .hero-img__left__pc {
    display: none;
  }
}
.hero-img__left__tb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .hero-img__left__tb {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .hero-img__left__tb {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .hero-img__right__pc {
    display: none;
  }
}
.hero-img__right__pc3 {
  display: none;
}
@media screen and (max-width: 1440px) {
  .hero-img__right__pc3 {
    display: block;
  }
}
@media screen and (max-width: 1140px) {
  .hero-img__right__pc3 {
    display: none;
  }
}
.hero-img__right__pc4 {
  display: none;
}
@media screen and (max-width: 1140px) {
  .hero-img__right__pc4 {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .hero-img__right__pc4 {
    display: none;
  }
}
.hero-img__right__tb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .hero-img__right__tb {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .hero-img__right__tb {
    display: none;
  }
}
.hero-img__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .hero-img__sp {
    display: block;
  }
}
.hero-car {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-top: 16rem;
}
@media screen and (max-width: 1023px) {
  .hero-car {
    margin-top: 18rem;
  }
}
@media screen and (max-width: 599px) {
  .hero-car {
    margin-top: 13rem;
  }
  .hero-car img {
    width: 21.5rem;
  }
}

.about {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .about {
    max-width: 62.5rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .about {
    max-width: 37.25rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 599px) {
  .about {
    max-width: 21.6rem;
    width: 100%;
    margin: 0 auto;
  }
}
.about-text {
  flex-direction: column;
}
.about-text__title {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .about-text__title {
    width: 32rem;
  }
}
@media screen and (max-width: 599px) {
  .about-text__title {
    width: 100%;
  }
}
.about-text__title__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .about-text__title__sp {
    display: block;
  }
}
.about-text__title__pc {
  display: block;
}
@media screen and (max-width: 599px) {
  .about-text__title__pc {
    display: none;
  }
}
.about-text__main p {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .about-text__main p {
    padding-top: 3.5rem;
    line-height: 2.75rem;
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
  }
}
@media screen and (max-width: 1023px) {
  .about-text__main p {
    padding-top: 1.25rem;
    line-height: 2.2rem;
    letter-spacing: 0.25rem;
  }
}
@media screen and (max-width: 599px) {
  .about-text__main p {
    padding-top: 3rem;
    line-height: 1.875rem;
    letter-spacing: 0.0375rem;
  }
}

.storage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.storage-container {
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 1024px) {
  .storage-container {
    height: 32rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .storage-container {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .storage-container {
    max-width: 38.92rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 599px) {
  .storage-container {
    min-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .storage-container-left__title {
    margin-right: 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .storage-container-left__title {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 599px) {
  .storage-container-left__title {
    width: 78vw;
    margin-left: 4.4rem;
  }
}
.storage-container-left__sub {
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .storage-container-left__sub {
    margin-left: -5rem;
  }
}
@media screen and (max-width: 599px) {
  .storage-container-left__sub {
    width: 28vw;
    transform: rotate(13.63deg);
    margin-left: 0.7rem;
  }
}
.storage-container-left__main {
  margin-top: 2.5rem;
}
@media screen and (max-width: 1023px) {
  .storage-container-left__main {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 599px) {
  .storage-container-left__button {
    display: flex;
    width: 21.625rem;
    height: 4.6875rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .storage-container-left__button p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.25rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 1023px) {
  .storage-container-left__button {
    margin-left: 22%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 599px) {
  .storage-container-left__button {
    display: flex;
    width: 14.5rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .storage-container-left__button p {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9rem;
    letter-spacing: 0.1875rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 1023px) {
  .storage-container-right {
    margin-top: 2.5rem;
  }
}

.storage-back {
  position: absolute;
  z-index: -1;
}
.storage-back__pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .storage-back__pc {
    display: block;
  }
}
.storage-back__tb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .storage-back__tb {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .storage-back__tb {
    display: none;
  }
}
.storage-back__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .storage-back__sp {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .run {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .run {
    max-width: 34.6rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .run {
    display: flex;
  }
}
@media screen and (max-width: 1023px) {
  .run {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 599px) {
  .run-left {
    max-width: 21.56rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 599px) {
  .run-left__title {
    width: 15.2rem;
  }
}
.run-left__main {
  margin-top: 2.5rem;
}
@media screen and (min-width: 599px) {
  .run-left__button {
    display: flex;
    width: 21.625rem;
    height: 4.6875rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .run-left__button p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.25rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 599px) {
  .run-left__button {
    display: flex;
    width: 14.5rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .run-left__button p {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9rem;
    letter-spacing: 0.1875rem;
    color: #FDFFFB;
  }
}
@media screen and (min-width: 1024px) {
  .run-right {
    position: absolute;
    left: 47%;
  }
}
@media screen and (max-width: 1023px) {
  .run-right {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .run-right {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .indoor {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .indoor {
    max-width: 34.6rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 599px) {
  .indoor {
    max-width: 21.56rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .indoor {
    display: flex;
    align-items: flex-end;
  }
}
.indoor-left__title {
  display: block;
}
@media screen and (max-width: 599px) {
  .indoor-left__title {
    display: none;
  }
}
.indoor-left__title-sp {
  display: none;
}
.indoor-left__title-sp img {
  padding-top: 1rem;
}
@media screen and (max-width: 599px) {
  .indoor-left__title-sp {
    display: block;
  }
}
.indoor-left__main {
  margin-top: 3.5rem;
}
.indoor-left__main p {
  color: #FDFFFB;
}
@media screen and (min-width: 599px) {
  .indoor-left__button {
    display: flex;
    width: 21.625rem;
    height: 4.6875rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .indoor-left__button p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.25rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 599px) {
  .indoor-left__button {
    display: flex;
    width: 14.5rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .indoor-left__button p {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9rem;
    letter-spacing: 0.1875rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 1023px) {
  .indoor-right {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
}
.gallery-title {
  padding-top: 16rem;
  display: flex;
  justify-content: center;
}
.gallery-title__line {
  position: absolute;
}
@media screen and (min-width: 599px) {
  .gallery-title__line__pc {
    display: block;
    margin-left: 32rem;
    margin-top: -7.5rem;
  }
}
@media screen and (max-width: 599px) {
  .gallery-title__line__pc {
    display: none;
  }
}
.gallery-title__line__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .gallery-title__line__sp {
    display: block;
    width: 4.7rem;
    margin-right: 19rem;
    margin-top: -3.5rem;
  }
}
@media screen and (max-width: 599px) {
  .gallery-title {
    max-width: 21.56rem;
    width: 100%;
    margin: 0 auto;
  }
  .gallery-title img {
    width: 17.8135rem;
  }
}
.gallery-img {
  z-index: 4;
  width: 100%;
}
.gallery-img__pc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: block;
}
@media screen and (max-width: 1023px) {
  .gallery-img__pc {
    display: none;
  }
}
.gallery-img__tb {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: none;
}
@media screen and (max-width: 1023px) {
  .gallery-img__tb {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .gallery-img__tb {
    display: none;
  }
}
.gallery-img__sp {
  display: none;
}
@media screen and (max-width: 599px) {
  .gallery-img__sp {
    margin-top: 3.5rem;
    display: block;
  }
}
.gallery-button {
  z-index: 5;
}
@media screen and (min-width: 1024px) {
  .gallery-button {
    display: flex;
    width: 21.625rem;
    height: 4.6875rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
  .gallery-button p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.25rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 1023px) {
  .gallery-button {
    display: flex;
    width: 21.625rem;
    height: 4.6875rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
    max-width: 34.6rem;
    width: 100%;
    margin: 0 auto;
  }
  .gallery-button p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.25rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 599px) {
  .gallery-button {
    display: flex;
    width: 14.5rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
    max-width: 21.56rem;
    width: 100%;
  }
  .gallery-button p {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9rem;
    letter-spacing: 0.1875rem;
    color: #FDFFFB;
  }
}

.gallery-back {
  background-color: #de8436;
}

@media screen and (min-width: 1024px) {
  .safe-top {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .safe-top {
    max-width: 34.6rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 599px) {
  .safe-top {
    max-width: 21.56rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .safe-under__pc-car {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .safe-under__pc-car {
    max-width: 34.6rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 599px) {
  .safe-under__pc-car {
    max-width: 21.56rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .safe-under__button {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .safe-under__button {
    max-width: 34.6rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 599px) {
  .safe-under__button {
    max-width: 21.56rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 599px) {
  .safe-under__button {
    display: flex;
    width: 21.625rem;
    height: 4.6875rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .safe-under__button p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.25rem;
    color: #FDFFFB;
  }
}
@media screen and (max-width: 599px) {
  .safe-under__button {
    display: flex;
    width: 14.5rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid #23211C;
    background: #23211C;
    margin-top: 3.5rem;
  }
  .safe-under__button p {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9rem;
    letter-spacing: 0.1875rem;
    color: #FDFFFB;
  }
}/*# sourceMappingURL=index.css.map */