// scss/index.scss

@use '../common/scss/variables' as *; // ←variablesを最初に読み込み、名前空間なしで使えるようにする
@use '../common/scss/mixin';

// 2. リセット
@use '../common/scss/reset';
// 3. 共通部分
@use '../common/scss/base';
@use '../common/scss/header';
@use '../common/scss/footer';

// 5. コンポーネント/パーツ
@use 'parts';

//================================================================//
//ここから
//================================================================//
