// scss/index.scss

@use '../common/scss/variables' as *; // ←variablesを最初に読み込み、名前空間なしで使えるようにする
@use '../common/scss/mixin' as *;

// 2. リセット
@use '../common/scss/reset';
// 3. 共通部分
@use '../common/scss/base';
@use '../common/scss/header';
@use '../common/scss/footer';

// 5. コンポーネント/パーツ
@use 'parts';

//================================================================//
//ここから
//================================================================//

//================================================================//
//ファーストビュー

.hero-title {
    width: 100%;
    height: 100vh;
    @include flex-center;
    position: relative;
    &__sub {
        position: absolute;
        margin-bottom: 13rem;
        margin-right: 25rem;
    }
}
