@use 'variables' as *;
@use 'mixin' as *;

html {
    background-image: url(/common/img/background-grass.png);
    background-size: cover;
}
//フォント

.road {
     //白い道路

    position: absolute;
    z-index: -1;
    width: 100%;
    @include flex-center;
    &__pc {
        @include pc {
            padding-top: 48rem;
            padding-right: 7rem;
        }

        @include tb {
            display: block;
            display: none;
        }
    }
    &__tb {
        display: none;
        @include tb {
            padding-top: 58rem;
            padding-right: 0.7rem;
            display: block;
        }
        @include sp {
            display: none;
        }
    }
    &__sp {
        display: none;
        @include sp {
            padding-top: 43rem;
            display: block;
        }
    }
}
