@use 'variables' as *;
@use 'mixin' as *;

html {
    background-image: url(/common/img/background-grass.png);
    background-size: cover;
}
//フォント
p {
    @include pc {
        @include pc-main-text;
    }
    @include tb {
        @include tb-main-text;
    }
    @include sp {
        @include sp-main-text;
    }
}

//================================================================//
// 道路

.white-road {
    //白い道路

    position: absolute;
    z-index: -2;
    width: 100%;
    @include flex-center;
    &__pc {
        @include pc {
            padding-top: 48rem;
            padding-right: 7rem;
        }

        @include tb {
            display: block;
            display: none;
        }
    }
    &__tb {
        display: none;
        @include tb {
            padding-top: 58rem;
            padding-right: 0.7rem;
            display: block;
        }
        @include sp {
            display: none;
        }
    }
    &__sp {
        display: none;
        @include sp {
            padding-top: 42rem;
            display: block;
        }
    }
}

.gray-road {
    //道路の装飾
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        padding-top: 2.6rem;
        padding-bottom: 2.6rem;
    }

    &__1 {
        @include tb-min {
            margin-top: -5rem;
            padding-bottom: 5rem;
        }
        @include sp {
            width: 2.25rem;
            margin-top: -7rem;
            padding-bottom: 2.5rem;
        }
    }

    &__2{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }
}

// 道路///
//================================================================//
