@use 'variables' as *;
@use 'mixin' as *;

html {
    background-image: url(/common/img/background-grass.png);
    background-size: cover;
}

// *{
//     outline: 2px red solid;
// }
//フォント
p {
    @include pc {
        @include pc-main-text;
    }
    @include tb {
        @include tb-main-text;
    }
    @include sp {
        @include sp-main-text;
    }
}

//================================================================//
// 道路

.white-road {
    //白い道路

    position: absolute;
    z-index: -2;
    width: 100%;
    @include flex-center;
    &__pc {
        @include pc {
            padding-top: 54rem;
            padding-right: 7rem;
        }

        @include tb {
            display: block;
            display: none;
        }
    }
    &__tb {
        display: none;
        @include tb {
            padding-top: 58rem;
            padding-right: 0.7rem;
            display: block;
        }
        @include sp {
            display: none;
        }
    }
    &__sp {
        display: none;
        @include sp {
            padding-top: 42rem;
            display: block;
        }
    }
}

.gray-road {
    //道路の装飾
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        padding-top: 2.6rem;
        padding-bottom: 2.6rem;
    }

    &__1 {
        @include tb-min {
            margin-top: -5rem;
            padding-bottom: 5rem;
        }
        @include sp {
            width: 2.25rem;
            margin-top: -7rem;
            padding-bottom: 2.5rem;
        }
    }

    &__2 {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;

        @include pc {
            padding-bottom: 10rem;
        }
        @include tb {
            padding-bottom: 8rem;
            width: 4rem;
        }
        @include sp {
            width: 2.25rem;
            padding-bottom: 1.5rem;
        }
    }

    &__3 {
        @include pc {
            padding-top: 10rem;
            padding-right: 35rem;
        }
        @include tb {
            padding-right: 8rem;
            padding-top: 8rem;
        }

        @include sp {
            width: 5.8rem;
            padding-right: 2rem;
            padding-top: 1.5rem;
        }
    }

    &__4 {
        &__pc {
            @include pc {
                margin-top: 10rem;
                padding-right: 5rem;
            }
            @include tb {
                display: none;
            }
        }
        &__tb {
            display: none;
            @include tb {
                display: block;
                padding-right: -2rem;
                padding-top: 5rem;
            }
            @include sp {
                width: 4rem;
            }
        }
    }
}

// 道路///
//================================================================//

//================================================================//
// 下3セクションの背景(オレンジと青)
.under-section {
    &__img {
        position: absolute;
        z-index: -1;
        img {
            width: 100vw;
        }
        &__pc {
            display: block;
            @include tb {
                display: none;
            }
        }
        &__tb {
            display: none;
            @include tb {
                display: block;
            }
            @include sp {
                display: none;
            }
        }
        &__sp {
            display: none;
            @include sp {
                display: block;
            }
        }
    }
}

// 下3セクションの背景(オレンジと青)///
//================================================================//
