@use 'variables' as *;
@use 'mixin' as *;

header {
    position: absolute; 
    top: 0;             
    left: 0;            
    width: 100%;            
    z-index: 9999999;   
    position: fixed;    
}
.logo{
    background-color: $white;
    border-bottom-right-radius: 20px;
    @include flex-center;
    img{
        height: auto;
    }
    @include tb-min {
        width: 10.25rem;
        height: 8.25rem;
        img{
            width: 6rem;
        }
    }

    @include sp {
        width: 7.4rem;
        height: 5.7rem;
        img{
            width: 4.8rem;
        }
    }
}
