
@use 'variables' as *;
// ブレイクポイントを指定====================
$pc: 1024px;
$tab: 1023px;
$sp: 599px;

@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}

// =======================================>

// 中央寄せ
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 写真のフチとシャドウ
@mixin img-shadow {
    border: 8px solid $white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
