@use 'variables' as *;
// ブレイクポイントを指定====================
$pc1840: 1840px;
$pc1440: 1440px;
$pc1140: 1140px;

$pc: 1024px;
$tb: 1023px;
$sp: 599px;

@mixin pc1840 {
    @media screen and (max-width: ($pc1840)) {
        @content;
    }
}

@mixin pc1440 {
    @media screen and (max-width: ($pc1440)) {
        @content;
    }
}
@mixin pc1140 {
    @media screen and (max-width: ($pc1140)) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

@mixin tb {
    @media screen and (max-width: ($tb)) {
        @content;
    }
}

@mixin tb-min {
    @media screen and (min-width: ($sp)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}

// =======================================>

// 中央寄せ
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 写真のフチとシャドウ
@mixin img-shadow {
    border: 8px solid $white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

//テキスト
@mixin pc-main-text {
    color: $black;
    font-family: YakuHanJP, 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 2.05rem;
    letter-spacing: 0.16875rem;
    font-size: 1rem;
    // margin-top: 2.5rem;
}

@mixin tb-main-text {
    color: $black;
    font-family: YakuHanJP, 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.15rem;
    font-size: 1rem;
}

@mixin sp-main-text {
    color: $black;
    font-family: YakuHanJP, 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.35rem;
    letter-spacing: 0.1125rem;
    font-size: 0.75rem;
}

//ボタン
@mixin button-bk {
    display: flex;
    width: 21.625rem;
    height: 4.6875rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid $black;
    background: $black;
    margin-top: 3.5rem;
    p {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2rem;
        letter-spacing: 0.25rem;
        color: $white;
    }
}

@mixin button-bk-sp {
    display: flex;
    width: 14.5rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.625rem;
    border: 3px solid $black;
    background: $black;
    margin-top: 3.5rem;
    p {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0.9rem;
        letter-spacing: 0.1875rem;
        color: $white;
    }
}

//タイトルの大きさ
@mixin title-sp {
    width: 78vw;
}

//コンテンツ幅
@mixin contents {
    @include pc {
        //pcのコンテンツ幅
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;
    }
    @include tb {
        //tbのコンテンツ幅
        max-width: 34.6rem;
        width: 100%;
        margin: 0 auto;
    }
    @include sp {
        //spのコンテンツ幅
        max-width: 21.56rem;
        width: 100%;
        margin: 0 auto;
    }
}

// それぞれの画面幅による表示非表示
@mixin display {

    &__pc {
        display: block;
        @include tb {
            display: none;
        }
    }
    &__tb {
        display: none;
        @include tb {
            display: block;
        }
        @include sp {
            display: none;
        }
    }
    &__sp {
        display: none;
        @include sp {
            display: block;
        }
    }
}
