// ブレイクポイントを指定
$pc: 1024px;
$tab: 1023px;
$sp: 599px;

@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
