@use 'variables' as *;
// ブレイクポイントを指定====================
$pc1840: 1840px;
$pc1440: 1440px;
$pc1140: 1140px;

$pc: 1024px;
$tb: 1023px;
$sp: 599px;

@mixin pc1840 {
    @media screen and (max-width: ($pc1840)) {
        @content;
    }
}

@mixin pc1440 {
    @media screen and (max-width: ($pc1440)) {
        @content;
    }
}
@mixin pc1140 {
    @media screen and (max-width: ($pc1140)) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

@mixin tb {
    @media screen and (max-width: ($tb)) {
        @content;
    }
}

@mixin tb-min {
    @media screen and (min-width: ($sp)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}

// =======================================>

// 中央寄せ
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 写真のフチとシャドウ
@mixin img-shadow {
    border: 8px solid $white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

//テキスト
@mixin pc-main-text {
    color: $black;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 2.05rem;
    letter-spacing: 0.16875rem;
    font-size: 1.125rem;
}

@mixin tb-main-text {
    color: $black;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.15rem;
    font-size: 1rem;
}

@mixin sp-main-text {
    color: $black;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.35rem;
    letter-spacing: 0.1125rem;
    font-size: 0.75rem;
}
